---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
          <li class="icon__btn">
            <a class="icon__link" href="https://github.com/happy663" target="_blank" rel="noopener noreferrer">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/github.svg" alt="github" width="20" height="20" class="img_icon" />
            </a>
          </li>
          <li class="icon__btn">
            <a class="icon__link" href="mailto:tatu2425@gmail.com">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/gmail.svg" alt="email" width="20" height="20" class="img_icon" />
            </a>
          </li>
          <li class="icon__btn">
            <a class="icon__link" href="/" target="_blank" rel="noopener noreferrer">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="linkedin" width="20" height="20" class="img_icon" />
            </a>
          </li>
        </ul>
    </div>
</footer>

